<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Rainfall prediction</title>
</head>


<body background="https://wallpaperaccess.com/full/701614.jpg" text="black">

 <div class="login">
	<center><h1>Rainfall Prediction</h1></center>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
<h1>Please enter the following details</h1>


</style></head>
    
      <label for="Location">Location:</label>
        <select id="Location" name="Location">
            <option value=2>Albury</option>
            <option value=4>BadgerysCreek</option>
            <option value=10>Cobar</option>
            <option value=11>CoffsHarbour</option>
            <option value=21>Moree</option>
            <option value=24>Newcastle</option>
            <option value=26>NorahHead</option>
            <option value=27>NorfolkIsland</option>
            <option value=30>Penrith</option>
            <option value=34>Richmond</option>
            <option value=37>Sydney</option>
            <option value=38>SydneyAirport</option>
            <option value=42>WaggaWagga</option>
            <option value=45>Williamtown</option>
            <option value=47>Wollongong</option>
            <option value=9>Canberra</option>
            <option value=40>Tuggeranong</option>
            <option value=23>MountGinini</option>
            <option value=5>Ballarat</option>
            <option value=6>Bendigo</option>
            <option value=35>Sale</option>
            <option value=19>MelbourneAirport</option>
            <option value=18>Melbourne</option>
            <option value=20>Mildura</option>
            <option value=25>Nhil</option>
            <option value=33>Portland</option>
            <option value=44>Watsonia</option>
            <option value=12>Dartmoor</option>
            <option value=7>Brisbane</option>
            <option value=8>Cairns</option>
            <option value=14>GoldCoast</option>
            <option value=39>Townsville</option>
            <option value=0>Adelaide</option>
            <option value=22>MountGambier</option>
            <option value=28>Nuriootpa</option>
            <option value=48>Woomera</option>
            <option value=1>Albany</option>
            <option value=46>Witchcliffe</option>
            <option value=29>PearceRAAF</option>
            <option value=32>PerthAirport</option>
            <option value=31>Perth</option>
            <option value=36>SalmonGums</option>
            <option value=43>Walpole</option>
            <option value=15>Hobart</option>
            <option value=17>Launceston</option>
            <option value=3>AliceSprings</option>
            <option value=13>Darwin</option>
            <option value=16>Katherine</option>
            <option value=41>Uluru</option>
        </select> &nbsp;&nbsp;
        
      <input type="number"   name="MinTemp" placeholder="MinTemp" required="required" />
      <input type="number"   name="MaxTemp" placeholder="MaxTemp" required="required" />
      <input type="number"   name="Rainfall" placeholder="Rainfall" required="required" />
      <input type="number"   name="WindGustSpeed" placeholder="WindGustSpeed" required="required" /><br>
 <br>
      <input type="number"   name="WindSpeed9am" placeholder="WindSpeed9am" required="required" />
      <input type="number"   name="WindSpeed3pm" placeholder="WindSpeed3pm" required="required" />
      <input type="number"   name="Humidity9am" placeholder="Humidity9am" required="required" />
      <input type="number"   name="Humidity3pm" placeholder="Humidity3pm" required="required" />
      <input type="number"   name="Pressure9am" placeholder="Pressure9am" required="required" /><br>
<br>
      <input type="number"   name="Pressure3pm" placeholder="Pressure3pm" required="required" />
      <input type="number"   name="Temp9am" placeholder="Temp9am" required="required" />
      <input type="number"   name="Temp3pm" placeholder="Temp3pm" required="required" />

<br>


      <label for="RainToday">RainToday:</label>
        <select id="RainToday" name="RainToday">
            <option value=0>No</option>
            <option value=1>Yes</option>
        </select> &nbsp;&nbsp;

      <label for="WindGustDir">WindGustDir :</label>
      	<select id="WindGustDir" name="WindGustDir">
        		<option value=13>W<option>
        		<option value=14>WNW<option>
                <option value=15>WSW<option>
                <option value=4>NE<option>
                <option value=6>NNW<option>
                <option value=3>N<option>
                <option value=5>NNE<option>
                <option value=12>SW<option>
                <option value=1>ENE<option>
                <option value=10>SSE<option>
                <option value=8>S<option>
                <option value=7>NW<option>
                <option value=9>SE<option>
                <option value=2>ESE<option>
                <option value=0>E<option>
                <option value=11>SSW<option>
        </select>
    
     <label for="WindDir9am">WindDir9am :</label>
      	<select id="WindDir9am" name="WindDir9am">
        		<option value=13>W<option>
        		<option value=6>WNW<option>
                <option value=9>WSW<option>
                <option value=1>NE<option>
                <option value=12>NNW<option>
                <option value=10>N<option>
                <option value=8>NNE<option>
                <option value=4>SW<option>
                <option value=3>ENE<option>
                <option value=11>SSE<option>
                <option value=15>S<option>
                <option value=2>NW<option>
                <option value=0>SE<option>
                <option value=7>ESE<option>
                <option value=15>E<option>
                <option value=5>SSW<option>
        </select> &nbsp;&nbsp;
        
    <label for="WindDir3pm">WindDir3pm :</label>
      	<select id="WindDir3pm" name="WindDir3pm">
        		<option value=14>W<option>
        		<option value=15>WNW<option>
                <option value=0>WSW<option>
                <option value=7>NE<option>
                <option value=13>NNW<option>
                <option value=10>N<option>
                <option value=2>NNE<option>
                <option value=1>SW<option>
                <option value=6>ENE<option>
                <option value=11>SSE<option>
                <option value=12>S<option>
                <option value=9>NW<option>
                <option value=3>SE<option>
                <option value=8>ESE<option>
                <option value=5>E<option>
                <option value=4>SSW<option>
        </select> &nbsp;&nbsp;

      
<br>
     
<br>
      <input type="number" min="2008" max="2021"  name="year" placeholder="year" required="year" /><br>
      <input type="number" min="0" max="12" name="month" placeholder="month" required="required" />
      <input type="number"  min= "1" max= "31" name="day" placeholder="day" required="required" /><br>

<br><br>


<button type="submit" class="btn btn-primary btn-block btn-large" style="height:30px;width:200px">Predict</button>

    </form>
<br>
   

   {{ prediction_text }}


  <br>
  <br>
  <img src="data:image/png;base64,{{url_3}}" alt="Submit Form" height="180" width="233" onerror="this.style.display='none'"/>
  <img src="data:image/png;base64,{{url_1}}" alt="Submit Form" height="180" width="233" onerror="this.style.display='none'"/>
  <img src="data:image/png;base64,{{url_4}}" alt="Submit Form" height="180" width="233" onerror="this.style.display='none'"/>
  <br>
  <br>
  <img src="data:image/png;base64,{{url_2}}" alt="Submit Form" height="150" width="711" onerror="this.style.display='none'"/>
  
 </div>


</body>
</html>
